:root {
    --primary-white:rgb(255, 255, 255);
    --primary-black:rgb(33, 37, 41, 1);
}
.logo{
 width: 3.5rem;
}

nav a.nav-link {
    letter-spacing: 0.03rem;
    cursor: pointer;
}

nav ul li {
    text-transform: uppercase;
    font-family:"Roboto Condesed" sans-serif;
}

.navbar-nav > li > a{
    color: var(--primary-white) !important;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    border-top: 0.1rem solid var(--primary-black);

}

.navbar-brand {
    max-width: 16.25rem;
    padding: 0 !important;

}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
    border-top: 0.1rem solid var(--primary-white);
}

.navbar-nav > li > a:hover{
    border-top: 0.1rem solid var(--primary-white);
}